
<% content_for :current_app_title do %>
    <%= @current_app_title %>
<% end %>

<% content_for :headerbar do %>
    <%= render 'layouts/partials/headertest' %>
<% end %>

<% content_for :content do %>
    <!--<h2>Application using : <%= @current_app_title %></h2>-->
    <!--<p>This is the home page of wave center.</p>-->
    <!--<canvas id="gm_canvas_particules" class="my-canvas"></canvas>-->
    <div id="home_wrapper_waves_center" class="home-wrapper-waves-center gm-background-home">
        <canvas id="gm_canvas_particules" class="inner-heading-canvas"></canvas>
        <!--<h1 id="homesubwrapper_incomingsoonproject" class="gm-h1-home gm-center-align"><%= @app_title %></h1>-->
        <div class="container-fluid home-sub-wrapper-incoming-soon-project">
            <h2 class="gm-h2-home-incomingsoonproject">Incoming soon project</h2>
            <div class="container-incomingsoonproject">
                <div class="row border-row-bold">
                    <div class="col-sm gm-incomingsoonproject-col1 border-col">
                        <div class="gm-incomingsoonproject-date gm-right-align">
                            <p class="gm-col-month">April</p>
                            <p class="gm-col-day">18</p>
                            <p class="gm-col-dayweek">Wednesday</p>
                        </div>

                        <!--<h3 class="gm-h3-incomingsoonproject-l1">PROJECT</h3>-->
                        <h3 class="gm-h3-incomingsoonproject-l2">To do list</h3>
                        <p class="gm-p-incomingsoonproject">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)
                            OJMH073 es-ES Establecer las bases de su equipo (Session) OJMH073 it-IT Porre le fondamenta del proprio
                            </p>
                    </div>
                    <div class="col-sm gm-incomingsoonproject-col2 border-col">
                    <div class="gm-incomingsoonproject-date gm-right-align">
                            <p class="gm-col-month">August</p>
                            <p class="gm-col-day">18</p>
                            <p class="gm-col-dayweek">Monday</p>
                        </div>

                        <h3 class="gm-h3-incomingsoonproject-l2">Planner calendar</h3>
                        <p class="gm-p-incomingsoonproject">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)
                            OJMH073 es-ES Establecer las bases de su equipo (Session) OJMH073 it-IT Porre le fondamenta del proprio
                            </p>
                    </div>
                    <div class="col-sm gm-incomingsoonproject-col3">
                        <div class="gm-incomingsoonproject-date gm-right-align gm-incomingsoonproject-date-margin-left">
                            <p class="gm-col-month">June</p>
                            <p class="gm-col-day">18</p>
                            <p class="gm-col-dayweek">Friday</p>
                        </div>
                        <h3 class="gm-h3-incomingsoonproject-l2">Book library</h3>
                        <p class="gm-p-incomingsoonproject">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)
                            OJMH073 es-ES Establecer las bases de su equipo (Session) OJMH073 it-IT Porre le fondamenta del proprio
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid home-wrapper-hobies-funny-moment">
        <h2 class="gm-h2-home gm-center-align">Hobies, Funny moment</h2>
        <div class="container-news">
            <div class="row">
                <div class="col-sm gm-tutonewsharing-col2 border-col">
                    <h3 class="gm-h3-tutonewsharing-l1">NOTICE / 20.03.2018</h3>
                    <h3 class="gm-h3-tutonewsharing-l2">Hypodrome de vincenne : Course à cheval, avant demi final PES 2017</h3>
                    <p class="gm-p-tutonewsharing">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)
                        OJMH073 es-ES Establecer las bases de su equipo (Session) OJMH073 it-IT Porre le fondamenta del proprio
                        team (Session) OJMH073 pt-BR Estabelecendo a base da equipe (Session) OJMH073 zh-CN 奠定高效团队的基础 (Session)</p>
                </div>
                <div class="col-sm gm-tutonewsharing-col4 gm-center-align">
                    <video width="360px" height="300px" src="/videos/pes-tournament-vincenne.mp4" controls></video>
                    <!--<p class="gm-p-tutonewsharing">OJMH073	en-GB	Laying</p>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid home-wrapper-tutorial-news-sharing">
        <h2 class="gm-h2-home">Tutorials-news-sharing</h2>
        <div class="container-news-sharing">
            <div class="row border-row">
                <div class="col-sm gm-tutonewsharing-col1 border-col">
                    <h3 class="gm-h3-tutonewsharing-l1">NOTICE / 20.03.2018</h3>
                    <h3 class="gm-h3-tutonewsharing-l2">Comment hacker un mot de passe windows</h3>
                    <p class="gm-p-tutonewsharing">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)
                        OJMH073 es-ES Establecer las bases de su equipo (Session) OJMH073 it-IT Porre le fondamenta del proprio
                        team (Session) OJMH073 pt-BR Estabelecendo a base da equipe (Session) OJMH073 zh-CN 奠定高效团队的基础 (Session)</p>
                </div>
                <div class="col-sm gm-tutonewsharing-col2 border-col">
                    <h3 class="gm-h3-tutonewsharing-l1">NOTICE / 20.03.2018</h3>
                    <h3 class="gm-h3-tutonewsharing-l2">Comment hacker un mot de passe windows</h3>
                    <p class="gm-p-tutonewsharing">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)
                        OJMH073 es-ES Establecer las bases de su equipo (Session) OJMH073 it-IT Porre le fondamenta del proprio
                        team (Session) OJMH073 pt-BR Estabelecendo a base da equipe (Session) OJMH073 zh-CN 奠定高效团队的基础 (Session)</p>
                </div>
                <div class="col-sm gm-tutonewsharing-col3 border-col">
                    <h3 class="gm-h3-tutonewsharing-l1">PROJECT / 22.02.2018</h3>
                    <h3 class="gm-h3-tutonewsharing-l2">Make a home page for your rails project</h3>
                    <p class="gm-p-tutonewsharing">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)
                        OJMH073 es-ES Establecer las bases de su equipo (Session) OJMH073 it-IT Porre le fondamenta del proprio
                        team (Session)</p>
                </div>
                <div class="col-sm gm-tutonewsharing-col4">
                    <h3 class="gm-h3-tutonewsharing-l1">TECHNOLOGY / 5.01.2018</h3>
                    <h3 class="gm-h3-tutonewsharing-l2">Make a home page for your rails project</h3>
                    <p class="gm-p-tutonewsharing">OJMH073 en-GB Laying your team’s foundation (Session) OJMH073 de-DE Die Fundamente eines Teams legen (Session)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-wrapper-withwhat-forwho">
        <h2 class="gm-h2-home gm-center-align">With what, for Who ...</h2>
        <div class="gm-home-withwhat-forwho-level-1">
            <video width="570" height="430px" src="/videos/pes-tournament-vincenne.mp4" controls></video>
        </div>
        <div class="gm-home-withwhat-forwho-level-2">
            <div class="gm-home-withwhat-customer">
            </div>
            <div class="gm-home-withwhat-technologies">
                <div class="development-techno">
                    <img class="techno-img" src="images/technologies/techno-full/ruby-techno/ruby-5.jpeg" alt="ruby-techno">
                    <!--<img class="techno-img" src="images/technologies/techno-full/rubyonrails-techno/ruby-on-rails-2.jpg" alt="rubyonrails-techno">-->
                    <img class="techno-img" src="images/technologies/125x125/if_ruby-rails_308446.png" alt="rubyonrails-techno">

                    <img class="techno-img" src="images/technologies/techno-full/php-techno/php-300x195.png" alt="php-techno">
                    <img class="techno-img techno-img-round" src="images/technologies/techno-full/symfony-techno/logo_symfony.jpg" alt="symfony-techno">
                    
                    <img class="techno-img" src="images/technologies/techno-full/javascript-techno/Javascript_badge.svg.png" alt="javascript-techno">
                    <img class="techno-img" src="images/technologies/techno-full/jquery-techno/1_qTld1o0TCh7lEB-BZBXMdw.png" alt="jquery-techno">
                    <img class="techno-img" src="images/technologies/125x125/if_boostrap_308435.png" alt="bootstrap-techno">

                    <img class="techno-img" src="images/technologies/techno-full/html-techno/1200px-HTML5_logo_and_wordmark.svg.png" alt="html-techno">
                    <img class="techno-img" src="images/technologies/techno-full/css-techno/css3_badge_by_seanarmy-d4qceoo.png" alt="css-techno">

                    <img class="techno-img" src="images/technologies/techno-full/ajax-techno/AJAX_logo.svg.png" alt="others-techno">
                </div>
                <div class="tools-techno">
                    <img class="techno-img" src="images/technologies/techno-full/linux-techno/linux-logo-600x300.png" alt="linux-techno">
                    <img class="techno-img" src="images/technologies/techno-full/linux-techno/3456.jpg" alt="linux-techno">
                    <img class="techno-img" src="images/technologies/techno-full/windows-techno/windows-10-hero.jpg" alt="windows-techno">

                    <img class="techno-img" src="images/technologies/techno-full/docker-techno/Docker-660x269.png" alt="docker-techno">
                    <img class="techno-img" src="images/technologies/techno-full/virtualmachine-techno/Azure_virtual_machines_icon.png" alt="virtualmachine-techno">
                    
                    <img class="techno-img" src="images/technologies/techno-full/lamp-techno/lamp.png" alt="lamp-techno">
                    <img class="techno-img" src="images/technologies/techno-full/wamp-techno/2000px-WampServer-logo.svg.png" alt="wamp-techno">

                    <img class="techno-img" src="images/technologies/techno-full/git-techno/Git-Logo-1788C.png" alt="git-techno">
                    <img class="techno-img" src="images/technologies/techno-full/gitlab-techno/gitlab-logo1.png" alt="gitlab-techno">
                    <img class="techno-img" src="images/technologies/techno-full/github-techno/1_dDNpLKu_oTLzStsDTnkJ-g.png" alt="github-techno">
                </div>
                <div class="database-techno">
                    <img class="techno-img" src="images/technologies/techno-full/mysql-techno/MySQL.png" alt="mysql-techno">
                    <img class="techno-img" src="images/technologies/techno-full/sqlite-techno/SQLite370.svg.png" alt="sqlite-techno">
                    <img class="techno-img" src="images/technologies/techno-full/postgresql-techno/logoPsql.png" alt="postgresql-techno">
                    <img class="techno-img" src="images/technologies/techno-full/oracledb-techno/oracle-secuirty.jpg" alt="oracledb-techno">
                </div>
                <div class="others-techno">
                    <img class="techno-img" src="images/technologies/techno-full/others-techno/avatar.jpg" alt="others-techno">
                </div>
            </div>
        </div>
    </div>
    <div class="home-wrapper-footer">
        <div class="gm-home-footer-level-1">
            <a href="/" class="gm-btn-level-1 btn btn-lg btn-block" role="button" aria-pressed="true">GM vawes center ®</a>
        </div>
        <div class="gm-home-footer-level-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm gm-corporate">
                        <h3 class="gm-h3-footer-level-2">Ingénieur informatique</h3>
                        <p class="gm-p-footer-level-2">Developpeur web</p>
                        <img id="gmhomefooterlevel2_linkedin" class="techno-img-minicon" src="images/technologies/techno-full/linkedin-techno/linkedin-icon-logo-vector.png" alt="linkedin-contact">
                        <!-- https://www.linkedin.com/in/glenn-milingui-5695a0103/ -->
                    </div>
                    <div class="col-sm gm-service">
                        <h3 class="gm-h3-footer-level-2">Services</h3>
                        <p class="gm-p-footer-level-2">Developpeur Ruby and Ruby on Rails</p>
                        <p class="gm-p-footer-level-2">Developpeur PHP Symfony</p>
                        <p class="gm-p-footer-level-2">Avant vente technique</p>
                        <p class="gm-p-footer-level-2">Gestion de projet</p>
                        <p class="gm-p-footer-level-2">Conseils</p>
                        <p class="gm-p-footer-level-2">Coaching</p>
                    </div>
                    <div class="col-sm gm-contact-info">
                        <h3 class="gm-h3-footer-level-2">Contact GM-waves</h3>
                        <p class="gm-p-footer-level-2">Tel:+33 (6) 20.17.14.20</p>
                        <p class="gm-p-footer-level-2">E-mail (1): contact.pro@glenn-milingui.com</p>
                        <p class="gm-p-footer-level-2">E-mail (2): glenn.milingui@gmail.com</p>
                        <p class="gm-p-footer-level-2">Skype: glenn.milingui</p>
                        <p class="gm-p-footer-level-2">92150 Suresnes, France</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gm-home-footer-level-3">
            <button type="button" class="gm-btn-level-3 btn btn-outline-primary">Label</button>
            <button type="button" class="gm-btn-level-3 btn btn-outline-success">Label</button>
            <button type="button" class="gm-btn-level-3 btn btn-outline-warning">Label</button>
            <button type="button" class="gm-btn-level-3 btn btn-outline-info">gm-messenger</button>
            <span class="gm-span-footer-level-3">© The sky is not the limit → Glenn Milingui, GM vawes center ®</span>
        </div>
    </div>
<% end %>