<ul class="gm-topnav" id="gm-topnav">
   <li class="gm-topnav-li gm-float-rleftight"><a class="" href="#">BrandLogo</a></li>
   <li class="gm-topnav-li gm-float-rleftight"><a class="gm-topnav-active" href="#"><i class="fa fa-home fa-fw fa-lg"></i></a></li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight"><a href="#"><i class="fa fa-cogs fa-lg"></i></a></li>
   <li class="gm-topnav-li gm-float-rleftight"><a href="#"><i class="fa fa-th fa-lg"></i></a></li>
   <li class="gm-topnav-li gm-float-right"><a href="#"><i class="fa fa-sign-in-alt fa-lg"></i></a></li>
   <li class="gm-topnav-li gm-float-right"><a href="#"><i class="fa fa-user-circle fa-lg"></i></a></li>
   <li class="gm-topnav-li gm-float-right"><a href="#"><i class="fa fa-question-circle fa-lg"></i></a></li>
</ul>

<ul class="gm-topnav-sub" id="gm-topnav-sub">
   <span class="gm-topnav-sub-child">Home Center</span>
</ul>



<!--
<ul class="gm-topnav" id="gm-topnav">
   <li class="gm-topnav-li gm-float-rleftight"><a class="" href="#">BrandLogo</a></li>
   <li class="gm-topnav-li gm-float-rleftight">
       <a class="gm-topnav-active" href="#"><i class="fas fa-home fa-fw fa-lg"></i></a>        
    </li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight" style="float:left"><a href="#">Label</a></li>
   <li class="gm-topnav-li gm-float-rleftight"><a href="#"><i class="fas fa-cogs fa-lg"></i></a></li>
   <li class="gm-topnav-li gm-float-rleftight"><a href="#"><i class="fas fa-th fa-lg"></i></a></li>
   
   <li class="gm-topnav-li gm-float-right"><a href="#"><i class="fas fa-sign-in-alt fa-lg"></i></a></li>
   <li class="gm-topnav-li gm-float-right"><a href="#"><i class="material-icons md-24">account_box</i></a></li>
   <li class="gm-topnav-li gm-float-right"><a href="#"><i class="far fa-question-circle fa-lg"></i></a></li>
</ul>

<ul class="gm-topnav-sub" id="gm-topnav-sub">
   <span class="gm-topnav-sub-child">Home Center</span>
</ul>
-->
